// If the screen size is 601px wide or more, set for large screen
@media screen and (min-width: 601px) {
    :host .models-container {
      padding-top: 205px;
    }
  }
  
  // If the screen size is 600px wide or less, set for mobile
  @media screen and (max-width: 600px) {
    :host .models-container {
      padding-top: 275px;
    }
  }
  
  :host .list-wrapper {
    height: 100%;
    width: 100%;
  }
  
  :host .list-container {
    width: 100%;
  }
  
  :host .filter-container {
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  
  :host .filter-input-wrapper {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  :host .filter-input-wrapper:not(:last-child) {
    padding-right: 5px;
  }
  
  :host .chip-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }