<mat-card>
    <mat-card-title>Credits</mat-card-title>
    <mat-card-content>
        <div class="flex flex-col justify-start text-left">
            <!-- David Thomas -->
            <mat-card>
                <mat-card-subtitle> David Thomas - Project Developer</mat-card-subtitle>
                <mat-card-content>
                    <div class="flex flex-col justify-start text-left">
                        <!-- bio -->
                        <p class="has-dropcap">
                            <img src="{{ imgs['davidjthomas'] }}" class="border border-img float-right credit-img"
                                alt="David J. Thomas bio image" mat-card-img>
                            I am an Ancient Historian as well as a Digital Humanist. In addition to teaching at the
                            university level, I have also worked professionally as a public school teacher and as an
                            instructor for an intensive summer camp for gifted children. I have worked with students
                            from middle school through college, and with varied skills, backgrounds, and challenges. As
                            the son of two educators, teaching, whatever the subject, has been my lifelong calling.
                            <br /><br />
                            As a word, ‘history’ means critical inquiry, not merely the past. History is active, one
                            does not simply learn history, one does history. I endeavor to connect students to the
                            material, allowing them to encounter it on their own terms. Research and teaching are
                            passions which fuel each other. Teaching history as a process of investigation and inquiry
                            makes students into researchers. Doing so also means that we regularly cross disciplinary
                            boundaries into unfamiliar territory in pursuit of questions. Effective teachers are
                            lifelong learners who encourage students to join them in posing questions and pursuing
                            answers. At the same time, students force their teachers to consider new angles and fresh
                            questions. My own research is avowedly interdisciplinary, drawing on research from the
                            fields of ancient history, archaeology, anthropology, epigraphy, linguistics, religious
                            studies, economics, philosophy, political science, social psychology, network theory, and
                            others. I teach students that scholars must use every tool, theoretical or methodological,
                            in order to develop their questions and get at the problems posed by our sources. In so
                            doing, every student finds that they will be able to use their strengths and also confront
                            their weaknesses.
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>