<!-- loading messages -->
<div *ngIf="loading" class="h-full flex justify-center items-center">
    <div *ngIf="!loadingError" class="flex flex-col justify-center items-center">
      <mat-spinner></mat-spinner>
      <p>Loading...</p>
      <p>May take awhile...</p>
    </div>
    <div *ngIf="loadingError" class="flex flex-col justify-center items-center">
      <mat-icon class="red-text">error</mat-icon>
      <p class="red-text">Error: problem connecting to server</p>
    </div>
</div>
  <div *ngIf="!loading" class="full-width flex flex-col justify-start items-center">
    <div class="full-width">
      <mat-card>
        <mat-card-content class="full-width">
          <div class="flex flex-col justify-start items-start">
            <!-- title -->
            <mat-card-subtitle class="card-subtitle">{{ protectedData.title }}</mat-card-subtitle>
            <!-- edit / delete buttons -->
            <div class="full-width flex flex-row justify-center items-center"  *ngIf="user.role == 'Owner' || user.role == 'Editor'">
                <button class="full-width" routerLink="{{'/conferences/edit/' + protectedData.id}}" color="accent" mat-raised-button aria-label="Edit conference">
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteItem()" color="warn" mat-raised-button aria-label="Delete conference">
                  <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
            <div class="full-width framed-content margin-content-top flex flex-col justify-start items-start">
                <div class="flex flex-row justify-start items-center">
                    <span class="padded-content-dense">Uploaded by:</span>
                    <span class="padded-content-dense">{{ protectedData.uploadedBy }}</span>
                </div>
                <div *ngIf="protectedData.credits && protectedData.credits != ''" class="flex flex-row justify-start items-center">
                    <span class="padded-content-dense">Credits:</span>
                    <span class="padded-content-dense">{{ protectedData.credits }}</span>
                </div>
                <div *ngIf="protectedData.description && protectedData.description != ''" class="flex flex-row justify-start items-center">
                    <span class="padded-content-dense">Description:</span>
                    <span class="padded-content-dense">{{ protectedData.description }}</span>
                </div>
            </div>
          </div>
          <div class="flex flex-row max-sm:flex-col">
            <div class="full-width framed-content max-sm:margin-content-top flex flex-col justify-start items-center">
              <button mat-raised-button color="primary"><a [href]="downloadModelHref" download="download.obj">Download Model</a></button>
            </div>
          </div>
          <div class="framed-content margin-content-top flex justify-center items-center">
            <app-three-d-scene style="height: 100%; width: 100%;" [modelData]="protectedData.modelData" [materialData]="protectedData.materialData"></app-three-d-scene>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
