<mat-card>
    <mat-card-title>Introduction</mat-card-title>
    <mat-card-subtitle><i>A Background</i></mat-card-subtitle>
    <mat-card-content>
      <!-- introductory content -->
      <div class="flex flex-col justify-start text-left">
        <p class="has-dropcap text-left">
          Welcome to RelicQuery. This is a portfolio demostration project, and was built in less than a week. This app is designed to take uploads from
          users, store them on a server, and allow others to download their models and even view them in the browser.
          App only accept uploads from users who have been approved by the site owner as editors.
          <br /> <br />
          Currently all models were either modeled or scanned by myself.
          <br /> <br />
          This project is for demostration purposes only!
          <br /> <br />
          Click the navigation button in the top-right and head to "Models" to get started!
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  