:host .filter-container {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
    
  :host .filter-input-wrapper {
    padding-top: 2px;
    padding-bottom: 2px;
  }
    
  :host .filter-input-wrapper:not(:last-child) {
    padding-right: 5px;
  }
    